<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h2>Avaliação Trimestral <sub>index</sub></h2>
        <nav>
            <ul>
                <li><a href="">Fornecedor List</a>
                </li>
                <li><a href="../">Index</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
            
            th, td {
              text-align: left;
              padding: 8px;
              text-emphasis-color: white;
            }
            
            tr:nth-child(even){background-color: #1900ff}
            
            th {
              background-color: #000000;
              color: rgb(255, 255, 255);
            }
            </style>            
            <table>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
              </tr>
              <tr>
                <td>Matheus Mello</td>
                <td>matheus_a_mello@estudante.sc.senai.br</td>
                <td>48 91234-5678</td>
              </tr>
              <tr>
                <td>Mello Matheus</td>
                <td>mello@gmail.com</td>
                <td>48 96251-8279</td>
              </tr>
              <tr>
                <td>Onipotente</td>
                <td>me.da.um.a@gmail.com</td>
                <td>48 92314-7865</td>
              </tr>
              <tr>
                <td>BestOfSenai</td>
                <td>da.um.a.para.mim@gmail.com</td>
                <td>48 99182-9812</td>
            </tr>
            </table>
            <img style="display: flex;" src="https://i1.rgstatic.net/ii/profile.image/431189141004288-1479814910115_Q512/Paulo-Eduardo-Battistella.jpg">
            
    </div>
</body>
</html>